<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav">
			<a href="#" class="blog-nav-item">Home</a>
			<a href="#bikesDetails.html" class="blog-nav-item active">Bikes Exhibition</a>
			<a href="#" class="blog-nav-item logo" style="float: right;">
				<img src="img/nav-bar-logo.jpg"> Lonely Road 2017</a>
		</nav>
	</div>
</div>

<div style="background: #999950; background-position: static; width: 100%; min-height: 100%; margin: 0;">


	<center>
		<div class="container" id="details" align="left">
			<div class="container blog-header" style="background: white relative;">
				<h2 class="blog-title">{{bike.model}}</h2>
				<p class="lead blog-description">{{bike.description}}
					<br> Fabriquer: {{bike.fabriquer}}
					<br> Year: {{bike.year}}
					<br> Country: {{bike.country}}</p>
			</div>


			<div class="container blog-main row">
				<div class="col-sm-8 blog-main">
					<div class="bike-images">
						<img ng-src="{{img}}" class="thumbnail bike" ng-repeat="img in bike.images" ng-class="{active: mainImageUrl==img}">
					</div>
				</div>
				<div class="col-xs-2 thumbnail" style="margin-right: 4em;">
					<ul class="bike-thumbs" style="margin-left: -1.5em;">
						<li ng-repeat="img in bike.images">
							<img ng-src="{{img}}" ng-click="setImages(img)" style="margin: 0 auto; padding: 0; position: static; box-shadow: 0 0 7px #111;">
						</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="container">
				<center>
					<ul class="blog-main specs dl-horizontal">
						<li>
							<span>Engine</span>
							<dl>
								<dt>Type</dt>
								<dd>{{bike.engine.type}}</dd>
								<dt>Detalles del Motor</dt>
								<dd>{{bike.engine.details}}</dd>
								<dt>Transmission</dt>
								<dd>{{bike.engine.transmission}}</dd>
								<dt>Starter</dt>
								<dd>{{bike.engine.starter}}</dd>
								<dt>Cylinder</dt>
								<dd>{{bike.engine.cylinder}}</dd>
							</dl>
						</li>
						<li>
							<span>Size & Weight</span>
							<dl>
								<dt>Dimenssions</dt>
								<dd ng-repeat="dim in bike.sizeAndWeight.size">{{dim}}</dd>
								<dt>Weight</dt>
								<dd>{{bike.sizeAndWeight.weight}}</dd>
							</dl>
						</li>
					</ul>
				</center>
			</div>
		</div>
	</center>
	<br>
<br>
<br>
</div>
<footer class="mastfoot">
	<p>
		<small>Website Developed by
			<a href="mailto:andre.rlucas@outlook.com" style="color: tomato">@Andler</a>. © 2017 All Rigths Reserved.</small>
	</p>
</footer>