<!DOCTYPE html>
<html>
     <head>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#aboutUs").click(function() {
                    var leInfo= $(".blog-info-header");
                    leInfo.animate({
                        height: "1750px"
                    },750);
                    leInfo.animate({
                        opacity: "1"
                    }, 1250);
                    $(this).undelegate();
                    $(".body-info").show(750);
                });
            });
        </script>
    </head>
    <body>
        <div class="blog-masthead">
          <div class="container">
            <nav class="blog-nav">
              <a href="#/bikes" class="blog-nav-item active">Inicio</a>
              <a href="#/bikes/" class="blog-nav-item">Exhibición de Motos</a>
              <a href="#/bikes/" class="blog-nav-item logo" style="float: right;">Camino Solitario 2017  <img src="img/nav-bar-logo.jpg"></img></a>
            </nav>
          </div>
        </div>


        <div class="blog-header bckGround bike-home">
            <img src="img/inicio-head.jpg">
            <div class="container">
                <h2 class="blog-title">Feria Camino Solitario 2017</h2>
                <p class="lead blog-description">Feria Anual Oficial de Motocicletas de la Región.<br>
                Bienvenido a nuestra página Web de la feria. Cómo primer año de nuestra presentación de motos, tendremos disponibles las mejores motocicletas de algunos proveedores. Cómo primer año, tendremos 3 tipos estándares de motocicletas y presentación de las mismas. ¡No te lo pierdas!</p>
                
                <center>
                    <button id="aboutUs">
                    <h2 align="center">
                        ACERCA DE NOSOTROS
                    </h2>
                    <img src="img/png/glyphicons-602-chevron-down.png" style="width: 30px; height: 20px; opacity: 1;">
                    </button>
                </center>
            </div>


            <div class="main-body-container" align="center">
                <br>
                <div class="container blog-info-header" align="center">
                    <br>
                    <div class="container body-info row">
                        <br>
                        <div class="blog-main">
                            <div class="home-images">
                                <img ng-src="{{img}}" class="thumbnail Home" ng-repeat="img in home" ng-class="{active: mainImageUrl==img}">
                            </div>
                            <br><br>
                        </div>
                        <div class="blog-main thumbnail-home">
                            <ul class="home-thumbs">
                                <li ng-repeat="img in home">
                                    <img ng-src="{{img}}" ng-click="setHomeImg(img)" style="margin: 0 auto; padding: 0; position: static; box-shadow: 0 0 7px #111;">
                                </li>
                            </ul>
                        </div>
                        <br>
                        <br>
                        <div class="body-info blog-main">
                            <ul class="blog-main bikes">
                                <li class="bike-listing">
                                    <p>
                                        El Camino Solitario ha sido un proyecto pensado para nuestros fans de las motocicletas; Demostraciones, actividades y comida, ¡Son algunos de los aspectos que tenemos a la disposición de nuestros visitantes! Cómo tradición que deseamos crear en esta feria, estaremos disponibles en éste próximo mes de Enero, abriendo el año con lo más refrescante del mundo de las motocicletas, recondándoles la pasión de ellas cada año.
                                        <br>
                                    </p>
                                </li>
                                <li>
                                        <p>
                                            En tan sólo 3 días podrás conocer lo mejor que le podremos ofrecer y en este año, te brindaremos mucha diversión:<br><br>
                                            En el primer día, verás la entrada de nuestros corredores, haciendo la apertura de la feria con fascinantes careras, acrobacias y hasta el círculo de la muerte! Y también abriendo paso a las motos que les presentaremos por el resto de los días de la feria.<br><br>
                                            En el segundo día, llegarán nuestros coleccionista, más bien, los locos por las motos, quienes brindarán presentación de los diseños de motocicletas exclusivas, al igual, para los coleccionistas, unas autencidades que jamás podrán encontrar en otro lugar.<br><br>
                                            En el último día, estarán presente corredores de grandes ligar profesionales brindando autógrafos y animando a nuestros fans. Con ellos, te puedes unir en un festín de comida brindado no sólo por nosotros, si no también por uno de nuestros colaboradores en éste feria. Vamos, ¡No te pierdas esta oportunidad y vísitanos!
                                            <br>
                                        </p>
                                </li>
                            
                                <li>
                                    <p>
                                        <br>
                                        Sin olvidar, la feria Camino Solitario es conmemorado en memoria de Peters Fellstrong, quien ha sido un gran ejemplo para estos grandes colaboradores y fundador de este magnífico evento, en el cuál ha sido desarrollado gracias a él.
                                    </p>
                                </li>
                                <li>
                                    <div class="col-sm-6 col-sm-push-1 blog-main">
                                        <p>
                                            <br>
                                            Peters Fellstrong era un corredor y fanático de las motocicletas de los años 70', quién brindó tanto gozo a sus espectadores, acrobacias que han dejado al público con la piel pálida del susto y adrenalina en cada evento que se realizaba. En 1974 obtuvo su medalla Hipper Adredaline Platino por realizar una de las acrobacias más mortales del mundo, el 'Salto de la Mueste con cadenas y caja fuerte en la cabeza con tanque de tiburones-eléctricos-ninjas', que para nuestra época, es bastante loco de escuchar, pero muy aterrador de ver. Fellstrong murió en el acto, pero antes de su muerte, dejó su legado en nuestros corazones por décadas, que aún sigue latiendo fuerte.
                                            <br>
                                            <br>
                                            <br>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <span class="container">
                                        <br><br>
                                        <img src="img/random-guy.jpg" style="float: right; padding-right: 2em; width: 400px; height: 300px; position: static; border: 1px solid transparent; border-radius: 4px; box-shadow: 0 0 8px #111; padding: 0.25em;">
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        



        <div style="background: #999950; background-position: static; width: 100%; height: 100%; padding-top: 4em; padding-bottom: 14em;">
            <div class="blog-body blog-main container">
                <h1 align="center" style="padding: 1em; color: #757575; font-weight: bolder;">Acerca de Los Distribuidores</h1>
                <ul class="col-sm-6 col-sm-push-1 blog-main bikes">
                    <br>
                    <br>
                    <li class="bike-listing">
                        <h1 class="blog-header">American Custom Company</h1>
                        <p class="blog-main">La distribuidora American Custom Company nos trae lo mejor a su disposición de las motos personalizadas en el mercado. Desde Iowa, Estados Unidos han viajado a nuestra feria para darnos a conocer lo mejor que disponen en sus motocicletas. <br><br>
                        American Custom nos dará una increíble presentación de sus corredores y también un desfile de sus motocicletas y acrobacias en nuestra área verde. Cómo hora estelar en la noche, estarán disponibles unas regalías y líneas de vestimenta para que tengas ése sentir rebelde-independiente que, ¡tanto le gusta a nuestros fans!</p>
                    </li>
                    <br>    
                    <li class="bike-listing">

                        <h1 class="blog-header">La Vie C'est Une Route S.A</h1>
                        <p class="blog-main">Desde Francia, la compañía La Vie C'est Une Route (que por su traducción, la vida es una carretera), nos trae la belleza natural de sus motocicletas deportivas que están a su disposición. En su presentación de motocicletas europeas, nos darán una deleitable vista y además deglutar de su maravillosa comida en sus presentaciones y brindarán modelaje de sus motos con sus modelos. <br>
                        La Vie C'est Une Route presentará futuros proyectos en mente, al igual prototipos europeas de motocicletas ecológicas de aceite mineral (cómo lubricante) y eléctricas con carga con paneles solares. Prepárate para esta compañía, que te alumbrará tu mente de sus diseños ecológicos, ¡no te lo pierdas!</p>
                    </li>

                    <li class="bike-listing">
                        
                        <h1 class="blog-header">Cochelca Company</h1>
                        <p class="blog-main">La distribuidora Cochelca nos trae lo mejor a su disposición de las motos urbanas de selecciones específicas alrededor del mundo. Desde Chapultepec, México nos visitan a nuestra feria para darnos a conocer lo mejor que disponen en sus motocicletas a su audiencia latinoamericana. <br>
                        Cochelca, una empresa familiar que ha pasado generación por generación, ha avanzado a tal punto a ser una empresa distribuidora de alto rango y reconocido a nivel continental. Nos presentará lo más nuevo de motocicletas, al igual accesorios para tus motocicletas y brindarán planes de pago increíbles a nuestros visitantes en la feria!</p>
                    </li>
                </ul>
                <br>



                <div class="col-xs-6 col-xs-pull-1 blog-main">
                    <br>
                    <ul class="bikes">
                        <li class="thumbnail bike-listing">
                                <img src="img/bikes/custom.jpg">
                            <p>
                                <b style="font-size: 1.2em">Motocicletas Customs </b><br>
                                <img ng-src="img/png/glyphicons-196-info-sign.png" style="width: 18px; height: 18px; opacity: 0.6; position: relative;"> American Customs CO.</p>
                            </p>
                        </li>
                        <li class="thumbnail bike-listing">
                                <img src="img/bikes/deportiva.jpg">
                            <p>
                                <b style="font-size: 1.2em">Motocicletas Deportivas</b> <br>
                                <img src="img/png/glyphicons-196-info-sign.png" style="width: 18px; height: 18px; opacity: 0.6; position: relative;"> La Vie C'est une Route S.A.</p>
                            </p>
                        </li>
                        <li class="thumbnail bike-listing">
                               <img src="img/bikes/urbana.jpg">
                            <p>
                                <b style="font-size: 1.2em">Motocicletas Urbanas </b><br>
                                <img src="img/png/glyphicons-196-info-sign.png" style="width: 18px; height: 18px; opacity: 0.6; position: relative;"> Cochelca CO.</p>
                            </p>
                        </li>
                    </ul>
                </div>
            <center>
                <br>
                <br>
                <div class="blog-main col-lg-8">
                    <div style="width: 100%; margin-left: 25%">


                        <h1 style="padding: 1em; color: #757575; font-weight: bolder; margin-left: 11%">Exhibición de Motos</h1>


                        <div class="blog-masthead-filter">
                            <div class="thumbnail-filter" style="box-shadow: 0 0 8px #505050; width: 415px;">
                                <form class="form-horizontal" role="form" style="margin: 0 auto; width: 325px;">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-1 col-sm-pull-1 control-label">Filtro</label>
                                        <div class="col-sm-10 col-sm-push-2">
                                            <input type="text" class="form-control" ng-model="query">
                                        </div>
                                    </div>

                                    <div class="form-group" style="display: inline-table;">
                                        <div class="col-xs-11 col-xs-pull-1">
                                            <label class="col-sm-5 col-sm-pull-2">Ordenar</label>
                                            <label class="col-xs-6 col-xs-pull-1 control-label">Organizar por:</label>
                                        </div>

                                        <div class="col-xs-12 col-xs-pull-1" style="display: inline-flex;">
                                            <select class="form-control" ng-model="reverse" style="width: 100px; margin-right: 7em;">
                                                <option value="false" selected="selected">↑ A - Z</option>
                                                <option value="true">↓ Z - A</option>
                                            </select>

                                            <select class="form-control" ng-model="orderProp" style="width: 200px;">
                                                <option value="model" selected>Alfabético</option>
                                                <option value="year">Más Nuevo</option>
                                                <option value="category">Categoría</option>
                                                <option value="type">Tipo de Moto</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <ul class="bikes">
                            <li ng-repeat="bike in bikes | filter:query | orderBy:orderProp:reverse" class="thumbnail bike-listing">
                                <a href="#/bikes/{{bike.id}}" class="thumb"><img ng-src="{{bike.imageUrl}}"></a>
                                <a href="#/bikes/{{bike.id}}">{{bike.fabriquer}} {{bike.model}}, {{bike.year}}</a>
                                <p>
                                    <img src="img/png/glyphicons-196-info-sign.png" style="width: 18px; height: 18px; opacity: 0.6;position: relative;"> {{bike.type}} <br>
                                    {{bike.snippet}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </center>
            </div>
        </div>
               


    </body>
</html>
