<!DOCTYPE html>
<html>
<body>

<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav">
			<a href="#inicio.html" class="blog-nav-item">Inicio</a>
			<a href="#exhibicionMoto.html" class="blog-nav-item">Exhibición de Motos</a>
			<img src="img/png/glyphicons-224-chevron-right.png" style="height: 15px; width: 15px;">
			<a href="#urbanas.html" class="blog-nav-item active">Motos Urbanas</a>
			<a href="#inicio" class="blog-nav-item logo" style="float: right;">Camino Solitario 2017  <img src="img/nav-bar-logo.jpg"></a>
		</nav>
	</div>
</div>


<div style="background: #999950; background-position: static; width: 100%; height: auto; padding-bottom: 4em; margin: 0;">
	<div class="blog-masthead-filter">
		<div class="thumbnail-filter" style="box-shadow: 0 0 8px #505050;">
			<form class="form-horizontal" role="form" style="text-align: center; margin: 0 auto; padding-right: 10%;">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Filtro</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" ng-model="query">
					</div>
				</div>

				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Organizar por:</label>
					<div class="col-sm-10">
						<select class="form-control" ng-model="orderProp">
							<option value="name">Alfabético</option>
							<option value="category">Categoría</option>
							<option value="age">Más Nuevo</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>


<center>
	<div ng-repeat="bike in bikes |filter:query | orderBy:orderProp" style="margin-top: 6em;">
		<div class="container" id="details" align="left">
			<div class="container blog-header" style="background: white relative;">
				<h1 class="blog-title">{{bike.model}}</h1>
				<p class="lead blog-description">{{bike.description}}<br>
					Fabricante: {{bike.fabriquer}}<br>
					Año: {{bike.year}}<br>
					País: {{bike.country}}</p>
			</div>


			<div class="container blog-main row">
				<div class="col-sm-7 blog-main">
					<div class="bike-images">
						<img ng-src="{{img}}" class="bike" ng-repeat="img in bike.images" ng-class="{active: mainImageUrl==img}">
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="col-sm-4 thumbnail">
					<ul class="bike-thumbs">
						<li ng-repeat="img in bike.images">
							<img ng-src="{{img}}" ng-click="setImages(img)" style="margin: 0 auto; padding: 0; position: relative; box-shadow: 0 0 7px #111;">
						</li>
					</ul>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class="container">
				<center>
					<ul class="blog-main specs dl-horizontal">
						<li>	
							<span>Motor</span>
								<dl>
									<dt>Tipo</dt>
										<dd>{{bike.engine.type}}</dd>
									<dt>Detalles del Motor</dt>
										<dd>{{bike.engine.details}}</dd>
									<dt>Transmisión</dt>
										<dd>{{bike.engine.transmission}}</dd>
									<dt>Encendido</dt>
										<dd>{{bike.engine.starter}}</dd>
									<dt>Cilindrado</dt>
										<dd>{{bike.engine.cylinder}}</dd>
								</dl>
						</li>
						<li>
							<span>Tamaño y Peso</span>
								<dl>
									<dt>Dimensiones</dt>
										<dd ng-repeat="dim in bike.sizeAndWeight.size">{{dim}}</dd>
									<dt>Peso</dt>
										<dd>{{bike.sizeAndWeight.weight}}</dd>
								</dl>
						</li>
					</ul>
				</center>
			</div>
		</div>
	</div>
</center>
</div>

</body>
</html>